@import "../required";

$page-padding:      map-get($spacers, 4);

.layout-default {
    .sidebar {
        padding-top: $page-padding;
        padding-bottom: $page-padding;

        > * {
            margin-bottom: $spacer;
        }
    }
    .page {
        position: static;
        padding-top: $page-padding;
        padding-bottom: $page-padding;
    }
}
