@import "../required";

$page-padding:      map-get($spacers, 4);

.layout-default {
    .sidebar-left {
        padding-top: $page-padding;
        padding-right: $page-padding;
        padding-bottom: $page-padding;

        > * {
            margin-bottom: $spacer;
        }
    }
    .page {
        position: static;
        padding-top: $page-padding;
        padding-bottom: $page-padding;
    }
    .sidebar-right {
        padding-top: $page-padding;
        padding-bottom: $page-padding;
        padding-left: $page-padding;
    }
}
