// typo
.entry-content,
.comment-content {
  font-family: $font-family-serif;
}
.entry-content {
  line-height: 1.9;
}



// content
.entry-content {
  > * {
    margin-bottom: $spacer;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}