// structure app
html, body {
    display: flex;
    flex-direction: column;
}
html {
    min-height: 100%;
}
body {
    flex: 1;
    // font-smoothing, this is non-standard
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
