@import "~bootstrap/scss/toasts";
@import "~bootstrap-vue/src/components/toast/index";

.b-toaster.b-toaster-bottom-center .b-toaster-slot {
    bottom: 0;

    .b-toast:last-child {
        .toast {
            border-bottom: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}
.b-toast {
    background-color: $white;
}
