// typo
.entry-content {
    font-family: $font-family-serif;
    font-size: $font-size-lg;
    line-height: 1.9;
}



// content
.entry-title {
    margin-bottom: map-get($spacers, 4);
}
.entry-content {
    > * {
        margin-bottom: $spacer;
    }

    img {
        max-width: 100%;
        height: auto;
    }

    p > iframe,
    p > object {
        display: block;
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;
    }

    > figure,
    .wp-block-image,
    .wp-block-embed {
        text-align: center;
    }

    @include media-breakpoint-up(xl) {
        > figure,
        .wp-block-image,
        .wp-block-embed,
        .embed-youtube {
            margin-right: -180px;
            margin-left: -180px;
        }
    }
}

// content childs
.wp-block-embed {
    position: relative;
    display: block;
    padding: 0;
    overflow: hidden;

    &::before {
        display: block;
        content: "";
    }

    &.is-type-video {
        &::before {
            padding-top: percentage(9 / 16);
        }

        .wp-block-embed__wrapper {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;

            > * {
                width: 100%;
                height: 100%;
            }
        }
    }
}

.embed-youtube {
    position: relative;
    display: block;
    padding: 0;
    overflow: hidden;

    &::before {
        display: block;
        content: "";
        padding-top: percentage(9 / 16);
    }

    .youtube-player {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: 0;
    }
}
