@import "../required";

.banners {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;

    small {
        flex: 1 0 100%;
    }

    > * {
        margin: map-get($spacers, 2);
    }
}
