@import "../required";

.form-reply {
    position: sticky;
    top: 0;
    z-index: 2;
    padding: map-get($spacers, 4);
    background-color: $white;
    box-shadow: $box-shadow;

    .label,
    .form {
        overflow: hidden;
        transition: max-height .2s ease, opacity .2s ease;
    }

    .label {
        max-height: 30px;
    }

    .form {
        max-height: 0;
        opacity: 0;
    }

    &.open {
        .label {
            max-height: 0;
            opacity: 0;
        }
        .form {
            max-height: 500px;
            overflow: visible;
            opacity: 1;
        }
    }
}

.list-comments {
    .form-reply {
        position: static;
        margin-top: -(map-get($spacers, 4));
        padding-top: $spacer;
        background-color: transparent;
        border-top: 0;
        box-shadow: none;

        .text-muted {
            font-size: $font-size-sm;
        }
    }
}
