@import "../required";

.comment {
    color: $gray-700;
    background-color: $light;

    a {
        color: $gray-700;
    }
}

.comment-header {
    margin-bottom: $spacer;

    div:first-child {
        margin-bottom: map-get($spacers, 1);
        font-weight: bold;
    }
}

.comment-content {
    p {
        word-wrap: break-word;
    }

    img,
    iframe {
        max-width: 100%;
    }

    > p:last-child {
        margin-bottom: 0;
    }
}
