@import "../required";

.list-item-info {
    @include list-unstyled;
    display: flex;
    overflow-x: scroll;
    font-size: $font-size-sm;
    white-space: nowrap;

    &::-webkit-scrollbar {
        display: none;
    }

    &,
    a {
        color: $text-muted;
    }

    .icon {
        color: $text-muted;
    }

    li + li {
        margin-left: map-get($spacers, 2);
    }
}
