.nav-categories {
    .nav-item {
        display: inline-block;
        margin: $spacer $spacer 0 0;
    }

    .nav-link {
        color: $navbar-dark-color;
        background-color: lighten($dark, 5%);
        border: $border-width solid lighten($dark, 6%);

        &:hover,
        &.active {
            background-color: lighten($dark, 6%);
            border-color: lighten($dark, 10%);
        }
    }
}
