@import "../required";

$pagination-color:            $body-color;
$pagination-bg:               transparent;
$pagination-border-width:     0;
$pagination-margin-start:     0;

$pagination-focus-box-shadow: none;

$pagination-hover-color:      $pagination-color;
$pagination-hover-bg:         transparent;

$pagination-active-color:     $pagination-hover-color;
$pagination-active-bg:        $gray-100;

@import "~bootstrap/scss/pagination";

.cards-posts {
    .card {
        margin-bottom: map-get($spacers, 5);
    }

    nav {
        overflow-x: auto;
    }

    .pagination {
        .active {
            font-weight: bold;
            box-shadow: $box-shadow;
        }
    }
}
