@import "../required";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";

.navbar {
    align-content: flex-start;

    .form-control {
        color: $navbar-dark-active-color;
        background-color: rgba($white, .02);
        border-color: transparent;

        &:focus {
            background-color: rgba($white, .06);
            box-shadow: none;
        }
    }
}

.navbar-body-main-open {
    height: 100vh;
}

.navbar-bar {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    order: 1;
}

.navbar-body-search {
    flex: 1 1 100%;
    order: 2;
}

.navbar-body-main {
    display: none;
    order: 3;
    padding-right: $navbar-padding-x;
    padding-left: $navbar-padding-x;
    background-color: $dark;

    .navbar-body-main-open & {
        display: block;
    }
}

@include media-breakpoint-up(md) {
    .navbar-body-main-open {
        height: auto;
    }

    .navbar-bar {
        flex-grow: 0;
    }

    .navbar-body-search {
        flex-basis: auto;
    }

    .navbar-body-main {
        position: static;
        display: block;
        flex-grow: 0;
        padding-right: 0;
        padding-left: 0;
        background-color: transparent;
    }
}
