@import "../required";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";

.navbar {
    form {
        flex: 1 1 100%;
    }

    .form-control {
        color: $navbar-dark-active-color;
        background-color: rgba($white, .02);
        border-color: transparent;

        &:focus {
            background-color: rgba($white, .06);
            box-shadow: none;
        }
    }
}

.navbar-body-main {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    display: none;
    padding-right: $navbar-padding-x;
    padding-left: $navbar-padding-x;
    background-color: $dark;

    &.show {
        display: block;
    }
}

.navbar-body-search {
    // empty for now
}

.navbar-expand-md {
    @include media-breakpoint-up(md) {
        form {
            flex-basis: auto;
            order: 2;
        }

        .navbar-brand {
            order: 1;
        }

        .navbar-body-main {
            position: static;
            display: block;
            flex-grow: 0;
            order: 3;
            padding-right: 0;
            padding-left: 0;
            background-color: transparent;
        }
    }
}
