@import "../required";
@import "~bootstrap/scss/close";

$toast-color:               $gray-300;
$toast-background-color:    $black;
$toast-border-width:        0;

@import "~bootstrap/scss/toasts";

$b-toast-background-opacity:        1;

$b-toaster-offset-top:      map-get($spacers, 4);
$b-toaster-offset-bottom:   $b-toaster-offset-top;
$b-toaster-offset-left:     $b-toaster-offset-top;
$b-toaster-offset-right:    $b-toaster-offset-top;

@import "~bootstrap-vue/src/components/toast/index";
