// svg
svg {
    fill: currentColor;
}



// svg icons
.icon {
    position: relative; display: inline-block;
    &::before { content: " "; display: inline-block; }
    svg {
        position: absolute; top: 0; left: 0; z-index: 1; width: 100%; height: 100%;
        use { pointer-events: none; }
    }

    // sizes
    width: 1.25rem;
    &.icon-sm { width: 1rem; }
    &.icon-lg { width: 1.75rem; }
    &.icon-xl { width: 2.5rem; }

    &.d-block {
        height: 1.25rem;
        &.icon-sm { height: 1rem; }
        &.icon-lg { height: 1.75rem; }
        &.icon-xl { height: 2.5rem; }
    }
}



// images
.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignleft {
    float: left;
    margin-right: $spacer;
}

.alignright {
    float: right;
    margin-left: $spacer;
}



// gallery
.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.gallery-item {
    margin-bottom: 5px;
    text-align: center;
}

@for $i from 1 through 9 {
    .gallery-columns-#{$i} {
        .gallery-item {
            flex-basis: calc(#{percentage(1/$i)} - 3px);
        }
    }
}

.gallery-icon {
    position: relative;
    padding-top: percentage(9 / 16);
    overflow: hidden;

    img {
        position: absolute;
        top: 50%;
        bottom: 0;
        left: 50%;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
    }
}

.gallery-caption {
    display: block;
    color: fade($gray-100, 80%);
    font-size: $font-size-sm;
    padding: ceil($spacer / 4) 0;
}

[class*="gallery-columns"] {
    .gallery-caption {
        display: none;
    }
}



// highlight animations
.highlight-background {
    animation: highlight .25s linear 0s 5 alternate;
}
@keyframes highlight {
    0% {
        background: $warning
    }
    100% {
        background: none;
    }
}
