// structure
html, body, .app {
  display: flex;
  flex-direction: column;
}
html {
  min-height: 100%;
}
body, .app {
  flex: 1;
}
body {
  // font-smoothing, this is non-standard
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.app {  }

.app-Header {  }
.app-Content {
  flex: 1 0 auto;
}
.app-Footer {  }